cars-ads-app/src/main/java/com/car_rent/agent_api/ad/ad-details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cr="http://car-rent.com/agent-api"
    targetNamespace="http://car-rent.com/agent-api" elementFormDefault="qualified">
    <xs:complexType name="putActivateAdRequest">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="putActivateAdResponse">
        <xs:sequence>
            <xs:element name="isOk" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
